@media screen and (max-width:1200px){
    #navbar{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }
}

@media (max-width: 768px) {
    .box {
        width: 100%; /* Make boxes take full width on small screens */
    }

    .box img {
        max-width: 300px; /* Reduce image size for smaller devices */
    }

    .box-content{
        width: 100%;
        margin: 10px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .project-container {
        /* margin: 0 auto; */
        justify-content: center;
        flex-direction: column; 
       
    }
    .project-cards{
        width: 100%;
       
    }

  .experience-content{
    margin-left: 50px;
    margin-top: 5px;
    width: 70%;
   
  }
    
  .experience-about{
    flex-direction: column;
  }

}
