@media screen and (max-width:1200px){
    #navbar{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }
}

@media (max-width: 768px) {
    .box {
        width: 100%; /* Make boxes take full width on small screens */
    }

    .box img {
        max-width: 300px; /* Reduce image size for smaller devices */
    }

    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .project-container {
        margin: 0 auto;
        justify-content: center; /* Centers the items horizontally */
    }

  
    


}
